/** Add your custom styles here **/
body { padding-top: 60px; }

li.third_party {
	list-style: none; 
	padding: 0; 
	margin: 0; 
	width: 64px; 
	height: 64px; 
	float: left; 
	padding: 0 10px 10px 0; 
}
li.third_party a { 
	display: block; 
	width: 64px; 
	height: 64px; 
	font-size: 10px; 
	text-align: center; 
	text-decoration: none; 
	color: #333; 
	text-shadow: 0px 0px 3px #fff; 
}
li.google { background: url(../img/auth_icons/google.png) no-repeat; }
li.microsoft { background: url(../img/auth_icons/microsoft.png) no-repeat; }
li.aol { background: url(../img/auth_icons/aol.png) no-repeat; }
li.yahoo { background: url(../img/auth_icons/yahoo.png) no-repeat; }
li.twitter { background: url(../img/auth_icons/twitter.png) no-repeat; }
li.facebook { background: url(../img/auth_icons/facebook.png) no-repeat; }
li.myspace { background: url(../img/auth_icons/myspace.png) no-repeat; }
li.openid { background: url(../img/auth_icons/openid.png) no-repeat; }

.topbar p {
	color: #BFBFBF;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}